.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 6px 12px;
    background: #eee;
    color: gray;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.back-button:hover {
    background: #ddd;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f0f0f0;
    padding: 40px;
}

.cards-grid {
    display: flex;        /* affiche les cartes sur une ligne */
    gap: 30px;            /* espace entre les cartes */
    flex-wrap: wrap;      /* permet de passer à la ligne si trop de cartes */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;          /* largeur fixe pour chaque carte */
}

.card img {
    width: 150px;         /* largeur des cartes */
    height: auto;         /* conserve le ratio */
    border-radius: 5px;
    object-fit: cover;    /* ajuste l’image à l’espace sans déformer */
}

.card button {
    margin-top: 5px;
    font-size: 0.8rem;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    max-width: 90%;   /* limite la largeur pour ne pas dépasser l’écran */
    margin: 0 auto;
}
